* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #444;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.float{
    width: 50%;
    float: left;
}

header{
    background-color: #111;
    padding: 15px 50px;
    width: 100%;
    position: fixed;
    top: 0;
}

.logo{
    color: #E50914;
    font-size: 20px;
    font-weight: 900;
}

.search{
    padding-top: 10px;
    text-align: right;
}

.search button{
    padding: 5px;
    background-color: transparent;
    color: #fff;
    border: none;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 110px;
}

.errore{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 45px;
}

.board{
    width: 230px;
    height: 300px;
    margin: 10px;
    position: relative;
}

.board-info{
    padding: 20px;
    border: 2px solid #fff;
    width: 100%;
    list-style: none;
}

.board-info img{
    width: 25px;
    position: absolute;
    top: 10px;
}

.fas.fa-star{
    color:gold;
}
