* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #181818;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.float{
    width: 50%;
    float: left;
}

/* inizio header */
header{
    background-color: #000;
    padding: 8px 50px 5px;
    width: 100%;
    height: 58px;
    position: fixed;
    top: 0;
    z-index: 22;
}


.logo{
    color: #E50914;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;

}

.logo img{
    height: 45px;
    cursor: pointer;
}

.search{
    text-align: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search button{
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.search button:focus{
    outline: none;
}

.search input{
    transition: width 1s;
    width:0px;
    border: none;
    height: 25px;

}

.search input:focus{
    outline-color: #181818
}
/* fine header */

/* MAIN */
main{
    padding: 110px 10px 0px 50px;
    color: #fff;
}

.original-title{
    color: #fff;
    font-size: 18px;
    width: 561px;
    display: inline-block;
    margin-bottom: 50px;
}

.original-title h1{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 10px;
}

.section h2{
    margin-left: 5px;
}

.wrapper{
    display: flex;
    padding: 10px 0;
    margin-bottom: 20px;
    overflow-x: hidden;
}






/* TEMPLATE */
.errore{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 45px;
}

.board{
    width: 185px;
    height: 300px;
    margin: 5px;
    position: relative;
    display: flex;
}

.board-container h3{
    width: 175px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin: 7px 0;
}

.board-info{
    padding: 20px;
    border: 2px solid #444;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.9);
    color: #fff;
    list-style: none;
    position: absolute;
    top: 0px;
    overflow-y: hidden;
    display: none;
}

.board-info li{
    margin-bottom: 7px;
}

.board-info li span{
    font-weight: lighter;
    font-size: 14px;
}
.board-info img{
    width: 25px;
}

.board:hover .board-info{
    display: block;
}

.fas.fa-star{
    color:gold;
}

.poster{
    width: 185px;
}

/* MEDIA QUERY */
@media screen and (max-width: 780px) {
    .original-title{
        width: 90%;
    }
}
